.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: 5px 5px 5px 0px var(--shadow);

    &-theme-switch {
        cursor: pointer;
    }

    &-theme-logo {
        width: 25px;
        height: 25px;
    }
}